* {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-centralize {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centralize {
    text-align: center
}

#toast-container.toast-top-center>div {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.param-head {
    color: cornflowerblue;
    font-weight: bold;
}

.red-param {
    color: red;
}

.green-param {
    color: green;
}

.v-margin {
    margin: 8px auto
}

.chart-head {
    height: 400px;
    max-height: 450px;
}

.chart-main {
    width: 100%;
    height: inherit;
}

.bordered-card {
    background-color: #f8f9fc;

}

.button-link {
    margin: 5px 10px;
    width: 135px;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    min-height: 100vh;
}

.param-unit {
    font-size: 75%;
}

#overlay {
    text-align: center;
}

#overlay.currently-loading img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;

}

.auth-one {
    width: 275px;
    height: 305px;
}

.auth {
    width: 275px;
    height: 380px;
}

.submit-button {
    width: 100%;
    height: 50px;
    text-transform: uppercase;
}

.flash {
    padding: 0px;
    margin-top: 2px;
    position: absolute;
    color: red;
}

.fa-warning {
    margin-top: 4px;
    color: red;
}

.leaflet-popup-content {
    margin: 5px 15px;
    line-height: 1.5;
}

.site-name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 13px;
    font-family: Roboto;
}

.site-status {
    display: inline-block;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    background-color: lime;
    
}

.alarm {
    animation: blinker 1s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.sites-main {
    position: absolute;
    top: 50px;
    padding: 15px;
    /* background-color:#F9FAFD;  */
    width: 100%;
}

.rounded {
    border-radius: 10px;
}


@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(0deg);
    }

    85% {
        transform: rotate(9deg);
    }

    95% {
        transform: rotate(-9deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.wiggle {
    display: inline-block;
    animation: wiggle 2.5s infinite;
}

.wiggle:hover,
.wiggle:active {
    animation: none;
}

.flask-pagedown-preview {
    margin-top: 10px;
    border: solid 1px silver;
    border-radius: 3px;
    background-color: #e8f5f3;
    padding: 10px;
    display: none;
}

/* 
Bayo's New CSS codes
*/
.wrapper{
    padding-top: 100px !important;
}
.card-header.power{
    padding: 5px 20px;
}
.card-body.power p{
    margin-bottom: 0;
}
.footer.zod{
    border-top: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}
.active-icon{
    font-size: 16px; 
    color: green;
     background-color: green; 
     border-radius: 50%;
}
.inactive-icon{
    font-size: 16px; 
    color: red;
    background-color: red; 
     border-radius: 50%;
         
}
.chart-big{
    position: relative;
    height: 450px;
}
.zc-text-1{
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.3rem;
}
.login-title{
    font-size: 25px;
    color: #403866;
    line-height: 1.2;   
    text-align: center;
    width: 100%;
    display: block;
    
}
.card-primary{
    border-top: 2px solid #5e72e4 !important;
}

.z-t{
    color: cornflowerblue;
    font-weight: bold;
    font-size: 12px;
}
.z-p{
    color: #0068ff;
    font-weight: bold;
    font-size: 2rem;
}
.z-unit{
    font-size: 1.6rem;
}
.z-card hr{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.mt-1{
    margin-top: 10px;
}
.mt-2{
    margin-top: 20px;
}
.mt-3{
    margin-top: 30px;
}
.mb-1{
    margin-bottom: 10px;
}
.mb-2{
    margin-bottom: 20px;
}
.mb-3{
    margin-bottom: 30px;
}
.mr-1{
    margin-right: 10px;
}
.mr-2{
    margin-right: 20px;
}
.mr-3{
    margin-right: 100px;
}
.ml-1{
    margin-left: 10px;
}
.ml-2{
    margin-left: 20px;
}
.ml-3{
    margin-left: 100px;
}
.lined-heading{
    border-bottom: 2px solid #363636;
}
.float-right{
    float: right !important;
}

.float-left{
    float: left !important;
}
.h-100{
    height:100% !important
}
.text-muted {
    color: #8898aa !important;
}
.text-color-1 {
    color: #dc1717 !important;
}
small, .small {
    font-size: 50%;
    font-weight: 400;
}
/* h2,
.h2 {
  font-size: 1.25rem;
} */
h3,
.h3 {
  font-size: 1.4rem;
}
.h-500{
    height: 550px !important;
}
.h-300{
    height: 300px !important;
}
.ct-page-title {
    padding-left: 1.25rem;
    border-left: 2px solid #5e72e4;
    margin-bottom: 1.5rem;
}
.btn {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.625rem 1.25rem;
    font-size: 0.89rem;
    line-height: 1.5;    
    border-radius: 0.375rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .btn-primary {
    color: #fff;
    background-color: #6495ed;
    border-color: #6495ed;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #5e72e4;
    border-color: #5e72e4;
  }
  
  .btn-primary:focus,
  .btn-primary.focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08), 0 0 0 0 rgba(94, 114, 228, 0.5);
  }
  .btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.w-200{
    width: 200px !important;
}
.show{
    display:block;
}
.hide{
    display:none;
}
.has-text-black{
    color: black;
}
.inputGroup {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;
}
.inputGroup label {
      padding: 12px 30px;
      width: 100%;
      display: block;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;
   }
   .inputGroup label:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: #5562eb;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      .inputGroup label:after {
        width: 32px;
        height: 32px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    

      .inputGroup input:checked ~ label {
      color: #fff;
      }

      .inputGroup input:checked ~ label:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      .inputGroup input:checked ~ label:after {
        background-color: #54E0C7;
        border-color: #54E0C7;
      } 
      .inputGroup input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }

    @media screen and (max-width: 376px) {
        .inputGroup label {
            padding-left: 10px;
            
        }
        .inputGroup label:after{
            width: 28px;
            height: 28px;
            right: 3px;
        }
        .select select{
            width: 98px !important;
        }
        
      }
      
    @media screen and (min-width: 768px) {        
        .inputGroup label:before{
            width: 30px;
           
        }
      }
      @media screen and (max-width: 768px){
        .responsive-center{
            text-align: center !important;
        }
      }
  
.is-right-bordered{
    border-right: 1px solid black;
}
.auth-color{
    color: red;
}
.button-nav{
    margin: 20px 10px;
}
div.first   {order: 2;}
div.second {order: 1;}
/* CSS for resizing highcharts after fullscreen */
.highcharts-container, .highcharts-container svg {
    width: 100% !important;
}

/* CSS for leaflet clusters */
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
	/* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
	-webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
	-moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
	-o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}
.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
    line-height: 30px; 
}

/* For dashboard pages mainly */

.is-9mobile{
    border-left: 3px solid #c7d42f;
}
.is-glo{
    border-left: 3px solid #8fc739;
}
.is-airtel{
    border-left: 3px solid  #e8242d;
}
.is-mtn{
    border-left: 3px solid #ffc423;
}
.param-row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    padding: 16px;
    margin: 0;
}
 .param-left{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    
}
.param-right{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.list-unstyled{
    padding-left: 0 !important;
    list-style: none !important;
}
.list-unstyled li{
    padding: 5px 0;
    border-bottom: 1px solid #e5e9ec !important;
}
.select select{
    width: 200px;
}
.field.setted:not(:last-child){
    margin-bottom: 0;
    margin-right: 10px !important;
}
.fa-search:hover{
    cursor: pointer !important;
}
/* Leaflet search CSS  */
.leaflet-container .leaflet-control-search {
	position:relative;
	float:left;
	background:#fff;
	color:#1978cf;
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.8);
	z-index:1000;	
	margin-left: 10px;
	margin-top: 10px;
}
.leaflet-control-search.search-exp {/*expanded*/
	background: #fff;
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;	
}
.leaflet-control-search .search-input {
	display:block;
	float:left;
	background: #fff;
	border:1px solid #666;
	border-radius:2px;
	height:22px;
	padding:0 20px 0 2px;
	margin:4px 0 4px 4px;
}
.leaflet-control-search.search-load .search-input {
	background: url('../images/loader.gif') no-repeat center right #fff;
}
.leaflet-control-search.search-load .search-cancel {
	visibility:hidden;
}
.leaflet-control-search .search-cancel {
	display:block;
	width:22px;
	height:22px;
	position:absolute;
	right:28px;
	margin:6px 0;
	background: url('../img/search-icon.png') no-repeat 0 -46px;
	text-decoration:none;
	filter: alpha(opacity=80);
	opacity: 0.8;		
}
.leaflet-control-search .search-cancel:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}
.leaflet-control-search .search-cancel span {
	display:none;/* comment for cancel button imageless */
	font-size:18px;
	line-height:20px;
	color:#ccc;
	font-weight:bold;
}
.leaflet-control-search .search-cancel:hover span {
	color:#aaa;
}
.leaflet-control-search .search-button {
	display:block;
	float:left;
	width:30px;
	height:30px;	
	background: url('../img/search-icon.png') no-repeat 4px 4px #fff;
	border-radius:4px;
}
.leaflet-control-search .search-button:hover {
	background: url('../img/search-icon.png') no-repeat 4px -20px #fafafa;
}
.leaflet-control-search .search-tooltip {
	position:absolute;
	top:100%;
	left:0;
	float:left;
	list-style: none;
	padding-left: 0;
	min-width:120px;
	max-height:122px;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
	background-color: rgba(0, 0, 0, 0.25);
	z-index:1010;
	overflow-y:auto;
	overflow-x:hidden;
	cursor: pointer;
}
.leaflet-control-search .search-tip {
	margin:2px;
	padding:2px 4px;
	display:block;
	color:black;
	background: #eee;
	border-radius:.25em;
	text-decoration:none;	
	white-space:nowrap;
	/* vertical-align: center; */
}
.leaflet-control-search .search-button:hover {
	background-color: #f4f4f4;
}
.leaflet-control-search .search-tip-select,
.leaflet-control-search .search-tip:hover {
	background-color: #fff;
}
.leaflet-control-search .search-alert {
	cursor:pointer;
	clear:both;
	font-size:.75em;
	margin-bottom:5px;
	padding:0 .25em;
	color:#e00;
	font-weight:bold;
	border-radius:.25em;
}
/* ------------ */
.staff-group{
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    padding: 16px;
}
.staff-group img {
    height: 40px;
    width: 40px;
    max-height: 40px;
}
.staff-group .right-pane{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 36px;
    font-size: 25px;
    font-weight: bold;
    height: 36px; 
    margin-left: auto;
    border-radius: 50%;
    transition: all .3s;
    cursor: pointer;
}




