<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="/static/img/zysod.ico">
        <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/bulma.css') }}" rel="stylesheet">
        <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/bulma-badge.min.css') }}" rel="stylesheet">        
        <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

        <title>Zysod - Network Operations and Control</title>       
        
    </head>
    <body>
        <div class="page-centralize">
            <div class="auth-one">
                <div class="" style="padding: 10px 60px ;">
                    <img src="/static/img/logo.png" alt="Logo">
                </div>
                <p class="subtitle centralize">Affiliate with your company</p>
                <div>
                    <div style="margin: 40px;"></div>
                  
                    <form method="POST" action="/">  
                        {{ form.hidden_tag() }}                      
                         <div class="field">
                            <label class="label">Company ID</label>
                            <div class="control has-icons-right">
                                {{ form.companyID(class="input", placeholder="8-digit company ID",maxlength="8") }}     
                                {% if form.companyID.errors %}
                                {% for error in form.companyID.errors %}
                                <p class="help is-danger">{{ error }}</p>
                                {% endfor %}
                                {% endif %}                         
                                <!-- <input class="input" id="company_id" maxlength="8" name="company_id" placeholder="8-digit company ID" required type="text" value="">  -->
                              </div>

                            
                        </div>
                        <div class="field" style="margin-top: 35px;">
                            <div class="control centralize">
                                <!-- <button class="button is-link submit-button"  id="submit" type="submit">Affiliate</button> -->
                                {{ form.submit(class="button is-link submit-button")}}
                                
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>